.navbar {
  padding: 20px;
  background-color: rgb(233, 220, 222);
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.card{
  display: flex;
  justify-content: center;
  height: 325;
}


.statistics{
  display: flex;
  justify-content: center;
  height: 325;
}